<%- include("../partials/header.ejs") %>

<div class="container form-container mt-5">
    <h1 class="mb-5">Edit your profile</h1>

    <!-- form to change name and interests -->
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        
        <div class="form-group">
            <label for="input-name">Name</label>
            <input type="text" name="name" class="form-control" id="input-name" value="<%= user.name %>">
        </div>

        <div class="mt-5" id="topics-checkbox-container">
            <h2 class="mb-4">What are your interests?</h2>

            <!-- content rendered by the server but hidden to the user, used to get user interests by the js script -->
            <div class="d-none" id="hidden-topics-list">
                <% user.interests.forEach(function(el){ %>
                    <p><%= el %></p>
                <% }) %>
            </div>
            

            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" name="topics" value="world" class="custom-control-input" id="check-world">
                <label class="custom-control-label" for="check-world">World</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" name="topics" value="economy" class="custom-control-input" id="check-economy">
                <label class="custom-control-label" for="check-economy">Economy</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" name="topics" value="tech" class="custom-control-input" id="check-tech">
                <label class="custom-control-label" for="check-tech">Technology</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" name="topics" value="politics" class="custom-control-input" id="check-politics">
                <label class="custom-control-label" for="check-politics">Politics</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
                <input type="checkbox" name="topics" value="business" class="custom-control-input" id="check-business">
                <label class="custom-control-label" for="check-business">Business</label>
            </div>
        </div>

        <button class="btn btn-primary mt-4">Submit</button>
    </form>

    <!-- form to change password -->
    <form action="/users/<%= user._id %>/password?_method=PUT" method="POST" class="my-5">
        <h2>Change password</h2>

        <div class="form-group">
            <label for="input-password">Password</label>
            <input type="password" name="password" class="form-control" id="input-password" placeholder="Enter your new password">
        </div>

        <button class="btn btn-primary mt-4">Submit</button>
    </form>

</div>

<script type='text/javascript' src='/js/profile/edit.js'></script>

<%- include("../partials/footer.ejs") %>