<%- include("../partials/header.ejs") %>


<!-- top container with the profile informations -->
<div class="mt-5">
    <div class="px-2 px-md-5">
    
        <h1 class="mb-5">Hi <%= user.name %></h1>
        
        <div class="row pb-4">
            
            <div class="col-12 col-sm-6 col-md-4 pb-4">
                <h3 class="profile-info-title">Email</h3>
                <p><%= user.email %></p>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 pb-4">
                <h3 class="profile-info-title">Interests</h3>
            
                <!-- content rendered by the server but hidden to the user, used to get user interests by the js script -->
                <div class="d-none" id="hidden-topics-list">
                    <% user.interests.forEach(function(el){ %>
                        <p><%= el %></p>
                    <% }) %>
                </div>
                
                <ul id="profile-user-interests">
                    <li value="world" class="d-none">World</li>
                    <li value="economy" class="d-none">Economy</li>
                    <li value="tech" class="d-none">Technology</li>
                    <li value="politics" class="d-none">Politics</li>
                    <li value="business" class="d-none">Business</li>
                </ul>
            </div>

            <div class="col-12 col-md-4 pb-4"">
                <a href="/users/<%= user._id %>/edit" class="btn btn-primary w-100">Edit</a>
            </div>

        </div>
    
        <h2 class="profile-info-title mt-5 mt-md-4">News you like</h2>

    </div>
    
</div>

<!-- liked news section -->
<div id="news-section">
</div>


<!-- no found news hidden message -->
<div id="no-news-found-panel" class="d-none">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-5">
        
        <div class="d-flex align-items-center p-3" id="no-news-found-icon">
            <svg class="bi bi-graph-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                <path fill-rule="evenodd" d="M14.39 9.041l-4.349-5.436L7 6.646 3.354 3l-.708.707L7 8.061l2.959-2.959 3.65 4.564.781-.625z"/>
                <path fill-rule="evenodd" d="M10 9.854a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v3.5h-3.5a.5.5 0 0 0-.5.5z"/>
            </svg>
        </div>

        <div class="d-flex align-items-center p-3">
            <h2 class="">No news found</h2>
        </div>

    </div>
</div>


<script type='text/javascript' src='/js/multi-page/news.js'></script>
<script type='text/javascript' src='/js/profile/profile.js'></script>

<%- include("../partials/footer.ejs") %>

