<%- include("../partials/header.ejs") %>

<h1>Your profile page</h1>

<% if (errorMessage && errorMessage.length > 0){ %>
    <h1>Message: <%= errorMessage %></h1>
<% } %>

<% if (successMessage && successMessage.length > 0){ %>
    <h1>Message: <%= successMessage %></h1>
<% } %>

<h2>Hi <%= user.name %></h2>

<h2>Interests</h2>
<% user.interests.forEach(topic => { %>
    <p><%= topic %></p>
<% }) %>

<%- include("../partials/footer.ejs") %>

